/*
 *
 *   Filename: styles.css
 *
 *   Description: Stylesheet for austinpringle.com
 *
 *   Author: Copyright 2024 Austin Pringle
 *
 *   This file is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 */


/* Light mode preference */
@media (prefers-color-scheme: light) {
    :root {
        /* Light mode color variables */
        --bg: white;
        --txt: black;
        --border: rgb(225, 225, 225);
    }
}

/* Dark mode preference */
@media (prefers-color-scheme: dark){
    :root {
        /* Dark mode color variables */
        --bg: black;
        --txt: white;
        --border: rgb(23, 23, 23)
    }

    /* Recolor the black social icons to be white in dark mode */
    .social-icon {
        filter: invert();
    }
}

/* General styling for HTML elements*/

body {
    /* Set the colors of the whole body in accordance with the variables we just set.*/
    background-color: var(--bg);
    color: var(--txt);

    /* Set the default font for everything as Inter*/
    font-family: "Inter";
    overflow: scroll;
}

h1 {
    font-size: 40pt;
    margin-top: 0px;
    margin-bottom: 8px;
}


h4 {
    font-size: 24pt;
    margin-top: 0px;
    margin-bottom: 32px;
}

h4 > a:link {
    text-decoration: underline;
}

p {
    font-size: 18pt;
    margin-top: 0px;
}

img::selection{
    filter: none;
}

a:link {
    text-decoration: none;
    color: crimson;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: lightcoral;
}

a:active {
    text-decoration: none;
}

#main-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;

    border: 5px solid var(--border);
    border-radius: 8px;

    background-color: transparent;

    align-items: center;
    justify-content: center;

    overflow: scroll;

    padding: 64px;

    gap: 128px;
}

#pfp {
    border-radius: 50%;
    width:  300px;
    height: 300px;
}

#text-box {
    width: 600px;
}

#social-icons > * {
    margin-right: 16px;
}

.social-icon {
    width: 32px;
    height: 32px;
}

@media (max-width: 1500px) {

    body{
        text-align: center;
    }

    #main-box{
        flex-direction: column;
    }
}