/*
 *
 *  Filename: adaptive.css
 *
 *  Description: CSS media queries for adapting austinpringle.com to various screen sizes
 *
 *  Author: Copyright 2024 Austin Pringle
 *
 *  This file is free: you can redistribute it and/or modify it under the terms of the GNU General
 *  Public License as published by the Free Software Foundation, either version 3 of the License,
 *  or (at your option) any later version.
 *
 */
@media screen and (orientation: portrait) {
    #intro-box {
        gap: 2.5rem !important;
        flex-direction: column !important;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center !important;
    }
    
    #location-span {
        justify-content: center !important;
    }

    #icons {
        justify-content: center !important;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 16pt;
    }

    #intro-box{
        border: none !important;
        padding: 0px !important;
    }
}