/*
 *
 *  Filename: adaptive.css
 *
 *  Description: CSS media queries for adapting austinpringle.com to various screen sizes
 *
 *  Author: Copyright 2025 Austin Pringle
 *
 *  This file is free: you can redistribute it and/or modify it under the terms of the GNU General
 *  Public License as published by the Free Software Foundation, either version 3 of the License,
 *  or (at your option) any later version.
 *
 */
@media screen and (orientation: portrait) {

    h1, h2, h3, h4, h5, h6, .section-subtitle {
        text-align: center !important;
    }
}

@media screen and (max-width: 1500px) and (orientation: portrait) {
    html {
        font-size: 2.5vw
    }

    main {
        margin-left: 2vw !important;
        margin-right: 2vw !important;
    }

}

@media screen and (orientation: landscape) and (max-width: 1000px) {
    html {
        font-size: 1.5vw !important;
    }

    main {
        margin-left: 2vw !important;
        margin-right: 2vw !important;
    }
}