/*
 *
 *  Filename: blog.css
 *
 *  Description: Stylesheet for the blog page of austinpringle.com
 *
 *  Author: Copyright 2025 Austin Pringle
 *
 *  This file is free: you can redistribute it and/or modify it under the terms of the GNU General
 *  Public License as published by the Free Software Foundation, either version 3 of the License,
 *  or (at your option) any later version.
 *
 */

main {
    margin-left: 16vw;
    margin-right: 16vw;
}

.blog-date-line {
    margin-bottom: 3rem;
}

pre {
    background-color: var(--border);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    overflow: scroll;
}

pre code {
    font-size: 1rem;
}

code {
    background-color: var(--border) !important;
} 