/*
 *
 *  Filename: index.css
 *
 *  Description: Stylesheet for the homepage of austinpringle.com
 *
 *  Author: Copyright 2024 Austin Pringle
 *
 *  This file is free: you can redistribute it and/or modify it under the terms of the GNU General
 *  Public License as published by the Free Software Foundation, either version 3 of the License,
 *  or (at your option) any later version.
 *
 */
main {
    margin-left: 8vw;
    margin-right: 8vw;
}

#intro-holder {
    display: flex;
    justify-content: center;
}

#intro-box {

    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 10vh;
    width: fit-content;
    align-items: center;
    justify-content: center;
    
    border: 0.5rem solid var(--border);
    border-radius: 0.5rem;

    padding: 3rem;
    gap: 5rem;
}

#pfp {
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
}

#intro-text-box {
    width: 37rem;
}

#intro-box-header {
    margin: 0px;
}

#location-span {
    margin-top: 0.25rem;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

#icons {
    display: flex;
    gap: 1rem;
}

#scroll-message {
    text-align: center;
    margin-bottom: 20vh;
}

#bouncing-arrow {
    animation: bounce 5s ease infinite;
}

#skill-grid {
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
    justify-items: center;
}

.skill-grid-item-link, .skill-grid-item-link:link {
    color: var(--txt);
    text-decoration: none;
}

.skill-grid-item-link:link:hover {
    color: var(--txt);
    text-decoration: none;
}

.skill-grid-item-link {
    width: fit-content;
}

.skill-grid-item {
    display: flex;
    flex-direction: column;
    background-color: var(--border);
    border-radius: 3rem;
    width: 25rem;
    height: 25rem;
    padding: 2rem;
    transition: transform 0.5s;
}

.skill-grid-item:hover {
    transform: scale(1.05);
}

.skill-grid-item-header {
    display: flex;

    gap: 2rem;

    align-items: center;

    margin-bottom: 2rem;

    transition: background-color 1s;
}

.skill-grid-item-header img {
    height: 4rem;
    width: 4rem;
}

.projects-link-span {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: flex-end;
    margin-top: auto;
}

.skill-grid-item:hover .projects-link-span img {
    animation: point 3s ease infinite;
}