main {
    margin-left: 16vw;
    margin-right: 16vw;
}

.chip-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.tags-div {
    display: flex;
    gap: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.tag-chip {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1.5rem;
    color: var(--txt);
    background-color: var(--border);
    transition: transform 0.5s;
}

.learn-more-tile-link-container {
    display: flex;
    justify-content: center;

    margin-top: 5rem;
    margin-bottom: 5rem;

}

.learn-more-tile-link, .tag-chip-link {
    color: var(--txt);
    text-decoration: none;
    width: fit-content;
}

.learn-more-tile-link:link:hover, .tag-chip-link.learn-more-tile-link:link:hover {
    color: var(--txt);
    text-decoration: none;
}

.learn-more-tile {
    display: flex;
    flex-direction: row;
    background-color: var(--accent-color);
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    transition: transform 0.5s, background-color 0.5s;
    gap: 2rem;
    align-items: center;
}

.learn-more-tile:hover, .tag-chip:hover {
    transform: scale(1.05);
}