/*
 *
 *  Filename: styles.css
 *
 *  Description: Stylesheet for all pages austinpringle.com
 *
 *  Author: Copyright 2025 Austin Pringle
 *
 *  This file is free: you can redistribute it and/or modify it under the terms of the GNU General
 *  Public License as published by the Free Software Foundation, either version 3 of the License,
 *  or (at your option) any later version.
 *
 */
@import url("./font-faces/inter-variable/inter-variable.css");
@import url("./font-faces/adwaita-mono/adwaita-mono.css");

/* General reset of some problematic styles*/
* {
    margin: 0px;
    color: var(--txt);
    text-decoration: none;
}

body {
    background-color: var(--bg);
    color: var(--txt);

    font-family: "Inter Variable";

    margin: 0px;
}

h1 {
    font-size: 3.3rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 4rem;
    font-weight: 200;
}

h5 {
    font-size: 1.15rem;
    font-weight: 500;
}

h6 {
    font-size: 1.5rem;
    font-weight: 500;
}

p, ul {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

button {
    background-color: transparent;
    border-color: transparent;
}

code, pre {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: "Adwaita Mono";
    background-color: var(--border) !important;
    border-radius: 0.5rem;
}

pre {
    margin-bottom: 1.5rem;
}

pre code {
    font-size: 1.25rem;
}

pre > code {
    background-color: transparent !important;
}

pre > code *:not(div.highlight){
    
    overflow-x: auto;
    overflow-y: hidden;
}

pre * {
    margin-bottom: 0rem;
}

a:link {
    color: var(--accent-color);
    text-decoration: none;
 }

a:link:hover {
    color: coral;
    text-decoration: none;
 }

.icon-link {
    text-decoration: none;
}

.icon {
    transition: transform 0.5s ease;
    width: 2rem;
    height: 2rem;
    filter: var(--filter);
}

.icon:hover {
    transform: scale(1.25);
}

.icon.small {
    width: 1.25rem;
    height: 1.25rem;
}

.icon.small:hover {
    transform: none;
}

.icon.big {
    width: 3rem;
    height: 3rem;
}

.icon.big:hover {
    transform: none;
}

.icon.no-hover:hover {
    transform: none;
}

.content-section {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.content-section.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}

.section-header-div {
    margin-bottom: 3rem;
}

.section-header {
    margin-bottom: 1rem;
}

.accent-button {
    display: flex;
    flex-direction: row;
    background-color: var(--accent-color);
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    transition: transform 0.5s, background-color 0.5s;
    gap: 2rem;
    align-items: center;
}

.accent-button > .icon {
    filter: invert();
}

.accent-button > h3 {
    color: white !important;
}

.accent-button:hover {
    transform: scale(1.03);
}

.chip-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 0.75rem;
}

.tags-div {
    display: flex;
    gap: 1.25rem;
    text-align: center;
    margin-bottom: 2rem;
}

.tag-chip {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1.5rem;
    color: var(--txt);
    background-color: var(--border);
    transition: transform 0.5s;
}

.accent-button-link-container {
    display: flex;
    justify-content: center;

    margin-top: 5rem;
    margin-bottom: 5rem;

}

.accent-button-link, .tag-chip-link {
    color: var(--txt);
    text-decoration: none;
    width: fit-content;
}

.accent-button-link:link:hover, .tag-chip-link:link:hover {
    color: var(--txt);
    text-decoration: none;
}

.tag-chip:hover {
    transform: scale(1.05);
}

a .blog-title-line {
    color: var(--txt);
    text-decoration: none;
}

h1.blog-title-line {
    margin-top: 1rem;
    margin-bottom: 0.5em;
}

.blog-date-line {
    margin-bottom: 4rem;
}